.form {
  display: block;
  width: 400px;
  border: 1px solid black;
  padding: 10px;
}

.formInput {
  display: block;
  margin-top: 5px;
  margin-bottom: 20px;
}

.formLabel {
  font-size: 18px;
}

.formButton {
  display: block;
}